# Environment Configuration
NODE_ENV=development

# Application URLs
BASE_URL=https://app.careboarding.com/login
API_BASE_URL=http://localhost:3001/api

# Test Users Credentials
VALID_USER_USERNAME=johnallen@yopmail.com
VALID_USER_PASSWORD=123456789123
MOBILE_USER_USERNAME=emily.johnson@yopmail.com
MOBILE_USER_PASSWORD=12345678
ADMIN_USER_USERNAME=johnallen@yopmail.com
ADMIN_USER_PASSWORD=123456789123

# Test Configuration
HEADED=false
TIMEOUT=30000

# Android / Appium
ANDROID_HOME=C:\\Users\\Admin\\AppData\\Local\\Android\\Sdk
ANDROID_SDK_ROOT=C:\\Users\\Admin\\AppData\\Local\\Android\\Sdk
ANDROID_APK_PATH=C:\\path\\to\\CareBoarding-EVV-Prod-1_1_8_130 (1).apk
ANDROID_DEVICE_NAME=emulator-5554
APPIUM_PORT=4724
ANDROID_APP_PACKAGE=com.careboarding
ANDROID_APP_ACTIVITY=com.example.care_boarding.MainActivity
ANDROID_APP_WAIT_ACTIVITY=com.example.care_boarding.MainActivity

# Reporting
REPORTER=html
